<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#"><span title="{{appVersion}}">Reward </span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/">
          <i class="material-icons align-bottom">house</i>
          <span class="rw-orange">Home</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="isAuthenticated()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInd" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="material-icons align-bottom">how_to_reg</i>
          <span class="rw-orange">Indications</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownInd" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="dropdown-item" routerLink="indications/new">
            <i class="material-icons align-bottom">assignment</i>
            <span class="rw-orange">Indication Form</span>
          </a>
          <a class="dropdown-item" routerLink="indications">
            <i class="material-icons align-bottom">toc</i>
            <span class="rw-orange">My Indications</span>
          </a>
          <a class="dropdown-item" href="#">
            <i class="material-icons align-bottom">score</i>
            <span class="rw-orange">My Scores</span>
          </a>
          <a class="dropdown-item" href="#">
            <i class="material-icons align-bottom">local_atm</i>
            <span class="rw-orange">Request Withdraw</span>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isAuthenticated() && isAdmin()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdm" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="material-icons align-bottom">apps</i>
          <span class="rw-orange">Admin</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAdm" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="dropdown-item" routerLink="admin/parameters">
            <i class="material-icons align-bottom">tune</i>
            <span class="rw-orange">Manage Parameters</span>
          </a>
          <a class="dropdown-item" routerLink="admin/scores">
            <i class="material-icons align-bottom">account_balance</i>
            <span class="rw-orange">Manage Score</span>
          </a>
          <a class="dropdown-item" href="#">
            <i class="material-icons align-bottom">card_giftcard</i>
            <span class="rw-orange">Manage Reward</span>
          </a>
          <a class="dropdown-item" href="#">
            <i class="material-icons align-bottom">perm_identity</i>
            <span class="rw-orange">Manage Clients</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="material-icons align-bottom">insert_chart_outlined</i>
            <span class="rw-orange">Indications Monitor</span>
          </a>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
    <ul class="navbar-nav">
      <ng-template [ngIf]="!isAuthenticated()">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link active" routerLink="login" >
            <i class="material-icons align-bottom">input</i>
            <span class="rw-orange">&nbsp;Login</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="register" >
            <i class="material-icons align-bottom">assignment_ind</i>
            <span class="rw-orange">&nbsp;Register</span>
          </a>
        </li>
      </ng-template>
      <ng-template [ngIf]="isAuthenticated()">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" (click)="onLogout()">
            <i class="material-icons align-bottom">exit_to_app</i>
            <span class="rw-orange">Logout</span>
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>