<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Reward</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="isAuthenticated()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInd" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Indications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownInd">
          <a class="dropdown-item" routerLink="indication-form">Indication Form</a>
          <a class="dropdown-item" href="#">My Indications</a>
          <a class="dropdown-item" href="#">My Scores</a>
          <a class="dropdown-item" href="#">Request Withdrawn</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isAuthenticated()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdm" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAdm">
          <a class="dropdown-item" href="#">Manage Parameters</a>
          <a class="dropdown-item" href="#">Manage Score</a>
          <a class="dropdown-item" href="#">Manage Reward</a>
          <a class="dropdown-item" href="#">Manage Users</a>
          <a class="dropdown-item" href="#">Manage Access</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Indications Monitor</a>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
    <ul class="navbar-nav">
      <ng-template [ngIf]="!isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link active" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
      </ng-template>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link" (click)="onLogout()">Logout</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
  </div>
</nav>