<form (ngSubmit)="onSubmit()" [formGroup]="scoreForm">
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
            <mat-form-field class="form-full-width">
                <mat-label>Good Type</mat-label>
                <mat-select 
                    id="inputGoodType" 
                    class="form-control" 
                    name="inputGoodType"
                    formControlName="inputGoodType"
                    required>
                    <mat-option value="">Choose...</mat-option>
                    <mat-option value="car">Car</mat-option>
                    <mat-option value="bike">Bike</mat-option>
                    <mat-option value="house">House</mat-option>
                    <mat-option value="services">Services</mat-option>
                </mat-select>
                <mat-error *ngIf="!isFormValid()">
                    Good Type is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
                <span class="rm-label">Credit Range *</span>
                <ng5-slider id="inputCreditRange"  
                    name="inputCreditRange" 
                    [(value)]="creditMinValue" 
                    [(highValue)]="creditMaxValue" 
                    [options]="creditOptions" 
                    class="form-full-width form-control"></ng5-slider>
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
                <span class="rm-label">Installment Range *</span>
                <ng5-slider id="inputInstRange"  
                    name="inputInstRange"  
                    [(value)]="instMinValue" 
                    [(highValue)]="instMaxValue" 
                    [options]="instOptions" 
                    class="form-full-width form-control" ></ng5-slider>
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
            <mat-form-field class="form-full-width">
                <input matInput type="number" 
                    class="form-control" 
                    id="inputScore" 
                    name="inputScore"
                    formControlName="inputScore" 
                    maxlength="100"
                    min="1" 
                    pattern="[0-9]+" 
                    required
                    autofocus
                    cdkFocusInitial
                    placeholder="Score">
                <mat-error *ngIf="!isFormValid()">
                    Score is
                    <strong>required. </strong>
                    Only positive numbers is permited.                    
                </mat-error>
            </mat-form-field>
        </div>
    </div>
        
    <div *ngIf="isListMode()" class="form-row justify-content-center">
        <div class="form-group col-md-6">
            <mat-form-field class="form-full-width">
                <input matInput 
                    id="inputBeginDate" 
                    name="inputBeginDate" 
                    class="form-control" 
                    type="text"
                    [matDatepicker]="inputBeginDate" 
                    placeholder="Choose begin date">
                <mat-datepicker-toggle matSuffix [for]="inputBeginDate"></mat-datepicker-toggle>
                <mat-datepicker #inputBeginDate></mat-datepicker>
                <mat-error *ngIf="!isFormValid()">
                    Begin date is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="isListMode()" class="form-row justify-content-center">
        <div class="form-group col-md-6">
            <mat-form-field class="form-full-width">
                <input matInput 
                    id="inputEndDate"
                    name="inputEndDate" 
                    class="form-control"  
                    type="text"
                    [matDatepicker]="inputEndDate" 
                    placeholder="Choose end date" >
                <mat-datepicker-toggle matSuffix [for]="inputEndDate"></mat-datepicker-toggle>
                <mat-datepicker #inputEndDate></mat-datepicker>
                <mat-error *ngIf="!isFormValid()">
                    End date is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>  
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
            <div [ngSwitch]="adminScoreFormMode">

                <button *ngSwitchCase="NEW" type="button" class="btn btn-light ml-1" 
                    (click)="onBtnBack()">
                    <i class="material-icons align-bottom">arrow_back</i>
                    Voltar
                </button>

                <button *ngSwitchCase="NEW" type="button" class="btn btn-primary ml-1" 
                    (click)="onBtnSave()">
                    <i class="material-icons align-bottom">done</i>
                    Save
                </button>

                <button *ngSwitchCase="NEW" type="reset" mat-button 
                    class="btn btn-secondary ml-1"
                    (click)="onBtnClear()">
                    <i class="material-icons align-bottom">clear</i>
                    Clear
                </button>

                <button *ngSwitchCase="EDIT" type="button" class="btn btn-light ml-1" 
                    (click)="onBtnBack()">
                    <i class="material-icons align-bottom">arrow_back</i>
                    Voltar
                </button>

                <button *ngSwitchCase="EDIT" type="submit" class="btn btn-primary ml-1"
                    (click)="onBtnUpdate()">
                    <i class="material-icons align-bottom">update</i>
                    Update
                </button>
                
                <button *ngSwitchDefault type="submit" class="btn btn-primary ml-1" 
                    [disabled]="!isFormValid()"
                    (click)="onBtnSearch()">
                    <i class="material-icons align-bottom">search</i>
                    Search
                </button>

                <button *ngSwitchDefault type="reset" mat-button 
                    class="btn btn-secondary ml-1"
                    (click)="onBtnClear()">
                    <i class="material-icons align-bottom">clear</i>
                    Clear
                </button>
                    
                <button *ngSwitchDefault type="button" class="btn btn-success ml-1" 
                    (click)="onBtnNew()">
                    <i class="material-icons align-bottom">add</i>
                    New
                </button>
            </div>            
            
        </div>
    </div>
</form>
    