<div class="rw-container">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="grid-container">
            <mat-form-field class="login">
                <input matInput placeholder="Login" id="login" name="login"
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    ngModel required >
                <mat-error *ngIf="!isFormValid()">
                    Login is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="password">
                <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" id="password"
                    name="password" ngModel required>
                <mat-error *ngIf="!isFormValid()">Password is
                    <strong>required</strong>
                </mat-error>
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                    {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <mat-checkbox id="remember" name="remember">Remember me</mat-checkbox>
            <a href="#" id="forgot"><span class="rw-orange">Forgot Password?</span></a>
            <button id="btnLogin" type="submit" class="btn btn-primary" [disabled]="!isFormValid()"><i
                    class="material-icons align-bottom">input</i>&nbsp;Log in</button>
        </div>
    </form>
</div>

<!-- <div class="row">
    
</div> -->