<div class="container">
    <mat-card class="my-card center">
        <mat-card-header>
            <div mat-card-avatar><i class="material-icons">account_circle</i></div>
            <mat-card-title style="margin-left: -20px;">User Authentication</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <div class="login-container">
                <mat-form-field>
                    <input matInput placeholder="Login">
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput placeholder="Senha">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="btn btn-primary">Log in</button>
            <button mat-button class="btn btn-secondary">Clear</button>
        </mat-card-actions>
    </mat-card>
</div>