.rw-container {
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    /* grid-template-areas: 
        "inputLogin inputLogin"
        "inputPassword inputPassword"
        "inputRemember linkForgotPasswd"
        "btnLogin btnLogin"; */
}

.login {
    grid-column: span 2;
    /* grid-area: inputLogin; */
}

.password {
    grid-column: span 2;
}

#remember {
    grid-column: 1;
}

#forgot {
    grid-column: 2;
    text-align: right;
}

#btnLogin {
    grid-column: span 2;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: orange !important;
}