
.login {
    width: 100%;
 } 

.password {
    width: 100%;
}

#forgot {
    position: relative;
    top: -2px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    float: right;
}

#btnLogin {
    width: 100%;
} 

/* Only works in the component level */
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: orange !important;
}

@supports (display: grid) {

    /* Middle screen */
    @media only screen and (min-width: 768px) {

       .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            row-gap: 10px; 
        }

        .login {
            grid-column: 2/4;
        }

        .password {
            grid-row: 2;
            grid-column: 2/4;
        } 

        #remember {
            grid-row: 3;
            grid-column: 2;
        }

        #forgot {
            grid-row: 3;
            grid-column: 3;
            text-align: right;
        }

        #btnLogin {
            grid-row: 4;
            grid-column: 2/4;
        }

    }
    
    /* Large screen */
    @media only screen and (min-width: 1280px) {

        .grid-container {
             display: grid;
             grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
             row-gap: 10px; 
         }
 
         .login {
             grid-column: 3/5;
         }
 
         .password {
             grid-row: 2;
             grid-column: 3/5;
         } 
 
         #remember {
             grid-row: 3;
             grid-column: 3;
         }
 
         #forgot {
             grid-row: 3;
             grid-column: 4;
             text-align: right;
         }
 
         #btnLogin {
             grid-row: 4;
             grid-column: 3/5;
         }
 
     }
}