.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    /* grid-template-areas: 
        "inputLogin inputLogin"
        "inputPassword inputPassword"
        "inputRemember linkForgotPasswd"
        "btnLogin btnLogin"; */
}

.login {
    grid-column: span 2;
    /* grid-area: inputLogin; */
}

.password {
    grid-column: span 2;
}

#remember {
    grid-column: 1;
}

#forgot {
    grid-column: 2;
    text-align: right;
}

#btnLogin {
    grid-column: span 2;
}

/* Only works in the component level */
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: orange !important;
}