<div class="container">
    <div class="row justify-content-center">
        <h2>Manage Scores List</h2>
    </div>
    <app-admin-score-form [formMode]="modeList" (onBtnSearchClicked)="btnSearch($event)"></app-admin-score-form>
    <div class="table-responsive">
        <table class="table table-hover">
            <caption>List of Score Configurations</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th >Good Type</th>
                    <th >Credit Range</th>
                    <th >Installment Range</th>
                    <th >Score</th>
                    <th >Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let score of getScores(); let i = index" (click)="onSelectedRow(score)">
                    <td>{{i+1}}</td>
                    <td>{{score.goodType}}</td>
                    <td>{{score.iniCredit / score.endCredit}}</td>
                    <td>{{score.iniInst / score.endInst}}</td>
                    <td>{{score.score}}</td>
                    <td>{{score.creationAt | slice:0:19 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="form-row justify-content-center">
        <div class="form-group col-md-12">
            
        </div>
    </div> -->
</div>