
button,
mat-form-field {
    margin: 5px;
}

#inputSearch {
    width: 415px;
}

table {
    margin: 10px;
}

.created {
    color: blue;
    text-transform: capitalize;
}

.accepted {
    color: green;
    text-transform: capitalize;
}

/* Small Devices */
@media only screen and (max-width: 768px) {
    mat-form-field {
        width: 100% !important;
    }
}