
.container {
    display: flex;
    flex-direction: column;
}
  
.container > * {
    width: 100%;
}

.form-full-width {
    width:100%;
}

.my-form {
  width: 30%;
}

button,
mat-form-field {
    margin: 5px;
}

#inputSearch {
    width: 415px;
}

table {
    margin: 10px;
}

.created {
    color: blue;
    text-transform: capitalize;
}

.accepted {
    color: green;
    text-transform: capitalize;
}