<div class="rw-container">
    <form (ngSubmit)="onSubmit()" #indicationForm="ngForm">
        <div class="grid-container">
            <p>Indication Form</p>
            <h2>Invite a Friend</h2>        
            <mat-form-field class="rw-100w name">
                <input matInput type="text" 
                    id="inputName" 
                    name="inputName" 
                    maxlength="100" 
                    ngModel
                    required
                    autofocus
                    cdkFocusInitial
                    placeholder="Name">
                <mat-error *ngIf="!isFormValid()">
                    Name is
                    <strong>required. </strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="rw-100w email">
                <input matInput type="email" id="inputEmail" name="inputEmail" 
                    maxlength="100" 
                    ngModel
                    required
                    email
                    placeholder="Email">
                <mat-error *ngIf="!isFormValid()">
                    Email is
                    <strong>required. </strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="rw-100w">
                <span matPrefix>{{contactPrefix}} &nbsp;</span>
                <mat-label>Phone</mat-label>
                <!-- maxLength does not work with type=number 
                    https://stackoverflow.com/questions/18510845/maxlength-ignored-for-input-type-number-in-chrome
                -->
                <input matInput type="number" id="inputPhone" name="inputPhone" 
                    maxlength="11" 
                    pattern="[0-9]+" 
                    ngModel
                    required
                    placeholder="Ex.: 964 806 795">
                <mat-error *ngIf="!isFormValid()">
                    Phone is
                    <strong>required. </strong>
                    Only numbers is permited.
                </mat-error>
            </mat-form-field>
            <button type="submit" class="btn btn-primary rw-100w" [disabled]="!isFormValid()"><i class="material-icons align-bottom">done</i>Send</button>
            <button type="reset" mat-button class="btn btn-secondary rw-100w"><i class="material-icons align-bottom">clear</i>Clear</button>
        </div>
    </form>
</div>