.register-container {
    display: flex;
    flex-direction: column;
}
  
.register-container > * {
    width: 100%;
}

.form-full-width {
    width:100%;
}

.material-icons.md-18 { 
    font-size: 18px; 
    margin: 3px;
}