<div class="rw-container">
    <p>Join Reward Program</p>
    <h2>Create Your Account</h2>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div class="grid-container">
            <mat-form-field class="rw-100w">
                <input matInput type="email"  id="inputEmail" name="inputEmail" maxlength="100"
                    [(ngModel)]="client.email" required autofocus cdkFocusInitial placeholder="Email">
                <mat-error *ngIf="!isFormValid()">
                    Email is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="rw-100w">
                <input matInput type="password"  id="inputPassword" name="inputPassword"
                    placeholder="Password" maxlength="10" [(ngModel)]="client.password" required>
                <mat-error *ngIf="!isFormValid()">
                    Password is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="rw-100w">
                <input matInput type="text"  id="inputName" name="inputName" maxlength="100"
                    pattern="[a-zA-Z\s]+" [(ngModel)]="client.name" required placeholder="Name">
                <mat-error *ngIf="!isFormValid()">
                    Name is
                    <strong>required. </strong>
                    Numbers is not permited.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="rw-100w">
                <span matPrefix>+351 &nbsp;</span>
                <mat-label>Phone</mat-label>
                <!-- maxLength does not work with type=number 
                    https://stackoverflow.com/questions/18510845/maxlength-ignored-for-input-type-number-in-chrome
                -->
                <input matInput type="number"  id="inputPhone" name="inputPhone"
                    maxlength="11" pattern="[0-9]+" [(ngModel)]="client.phone" required placeholder="Ex.: 964 806 795">
                <mat-error *ngIf="!isFormValid()">
                    Phone is
                    <strong>required. </strong>
                    Only numbers is permited.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="rw-100w">
                <mat-label>NIF</mat-label>
                <!-- maxLength does not work with type=number 
                    https://stackoverflow.com/questions/18510845/maxlength-ignored-for-input-type-number-in-chrome
                -->
                <input matInput type="number"  id="inputNIF" name="inputNIF" maxlength="11"
                    pattern="[0-9]+" [(ngModel)]="client.nif" required placeholder="Ex.: 298 973 537">
                <mat-error *ngIf="!isFormValid()">
                    NIF is
                    <strong>required. </strong>
                    Only numbers is permited.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="rw-100w">
                <mat-label>PostalCode</mat-label>
                <input #searchPostalCode matInput type="text"  id="inputCode" name="inputCode"
                    maxlength="10" pattern="[0-9]+" (keyup)="onPostalCodeKeyUp(searchPostalCode.value)"
                    [(ngModel)]="inputCodeValue" required placeholder="Ex.: 2825-846">
                <mat-error *ngIf="!isFormValid()">
                    PostalCode is
                    <strong>required. </strong>
                    Only numbers is permited.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="rw-100w">
                <mat-label>Address</mat-label>
                <mat-select id="inputAddress"  name="inputAddress" required
                    [(ngModel)]="inputAddressValue">
                    <mat-option value="">Choose...</mat-option>
                    <mat-option *ngFor="let postalCode of postalCodesList$ | async" value="postalCode.locale"
                        (click)="onPostalCodeSelected(postalCode)">{{postalCode.locale}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!isFormValid()">
                    Address is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="rw-100w">
                <input matInput type="text"  id="inputDistrict" name="inputDistrict" disabled
                    [(ngModel)]="inputDistrictValue" required placeholder="District">
                <mat-error *ngIf="!isFormValid()">
                    District is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="rw-100w">
                <input matInput type="text"  id="inputCounty" name="inputCounty" disabled
                    [(ngModel)]="inputCountyValue" required placeholder="County">
                <mat-error *ngIf="!isFormValid()">
                    County is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button id="btnSignIn" type="submit" class="btn btn-primary rw-100w" [disabled]="!isFormValid()"><i
                    class="material-icons align-bottom">input</i>Sign in</button>
            <button type="reset" mat-button class="btn btn-secondary rw-100w" (click)="onBtnClear()"><i
                    class="material-icons align-bottom">clear</i>Clear</button>
        </div>
    </form>
</div>